twlsdk = 1
includes = 'src', '%CWFolder_TWL%\ARM_EABI_Support\msl\MSL_C\MSL_Common\Include', '%CWFolder_TWL%\ARM_EABI_Support\msl\MSL_C++\MSL_Common\Include', '%CWFolder_TWL%\ARM_EABI_Support\msl\MSL_Extras\MSL_ARM\Include'
arch = '-proc arm946e -little -interworking'
sflags = '-MMD -gnu -proc arm5TE -g'
cflags = '-MMD -d SDK_ARM9 -d SDK_CODE_ARM -g -fp soft -O4 -r -enum int  -inline all -ipa file'
cxxflags = '-Cpp_exceptions off -RTTI off'
ldflags = '-m _start -g -map closure, unused'
libdirs = 'lib', '%TWLSDK_ROOT%', '%TWLSYSTEM_ROOT%', '%CWFolder_TWL%\ARM_EABI_Support\msl\MSL_C\MSL_ARM', '%CWFolder_TWL%\ARM_EABI_Support\msl\MSL_Extras\MSL_ARM', '%CWFolder_TWL%\ARM_EABI_Support\Mathlib', '%CWFolder_TWL%\ARM_EABI_Support\Runtime\Runtime_ARM\Runtime_NITRO', '%CWFolder_TWL%\ARM_EABI_Support\msl\MSL_C++\MSL_ARM\'
libs = 'rtc', 'spi', 'stubsisd', 'stubsistd', 'card', 'cp', 'ext', 'fs', 'fx', 'gx', 'mi', 'os', 'prc', 'pxi', 'snd', 'MSL_C_NITRO_Ai_LE.a', 'MSL_Extras_NITRO_Ai_LE.a', 'NITRO_Runtime_Ai_LE.a', 'MSL_CPP_NITRO_Ai_LE.a', 'wm', 'wbt', 'wfs', 'mb', 'syscall', 'ctrdg', 'math', 'cht', 'FP_fastI_v5t_LE.a', 'std', 'env', 'nnsfnd', 'nnsg3d', 'nnsgfd', 'nnsg2d', 'nnssnd', 'isdmainparm'
overlays = 